<main [@fadeInOut]>
  <div class="titulo">
    <h1>Sobre a TecJobs</h1>
    <img [src]="homemImg">
    <div class="bola"></div>
  </div>

  <div class="info">
    <h1>Sem complicações</h1>
    <p>Os usuários podem pesquisar empregos especificamente nas áreas de back-end, front-end e suporte,
      refinando sua busca por localização, tipo de contrato e outros critérios específicos para encontrar as
      oportunidades ideais para eles.</p>

    <h1>Missão</h1>
    <p>Nosso objetivo é simplificar e enriquecer o processo de recrutamento, conectando os profissionais certos com as
      oportunidades certas e promovendo o crescimento pessoal e profissional de individuos e empresas.</p>

    <h1>Visão</h1>
    <p>Queremos ser reconhecidos como o destino número um para os profissionais em busca de empregos e empregadores em
      busca de talentos excepcionais, impulsionando o sucesso mútuo e o progresso da carreira.</p>
  </div>
</main>

<footer>
  <span>Tecjobs</span>
  <img [src]="logoImg">
</footer>