@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Strike&display=swap');

.espaco {
  padding-left: 20px;
  padding-right: 90px;
  font-size: 20px;
  background-color: #D9D9D9;
  border-bottom: 5px solid #01606D;
  height: 60px;
}


.navbar-nav .nav-link:hover {
  color: #646161; 
}

.navbar-nav .nav-link {
  color: #000000; 
  font-family: Protest Strike;
}


.color{
  color: rgb(190, 183, 183);
}
