<main>
  <div class="estudantes">
    <img [src]="estudantesImg">
  </div>

  <div>
    <h1>Sobre:</h1>
    <h6 class="borda">A Fatec Franca é uma instituição de ensino superior pública, localizada na cidade de Franca, São Paulo. Com o
      início em 2008, a Fatec tem uma história rica e uma tradição de excelência acadêmica que remonta a mais de 44
      anos.</h6>

    <h1>História e tradição:</h1>
    <h6 class="borda">A Fatec Franca foi fundada com o objetivo de proporcionar educação de qualidade e formar profissionais
      capacitados para atender às demandas do mercado de trabalho. Desde sua fundação, a instituição tem desempenhado
      um
      papel fundamental no desenvolvimento educacional e econômico da região de Franca e arredores.</h6>

    <h1>Desenvolvimento acâdemico:</h1>
    <h6>Ao longo dos anos, a Fatec Franca expandiu sua oferta educacional e aprimorou seus programas acadêmicos para
      oferecer uma ampla variedade de cursos tecnológicos nas áreas de Gestão, Tecnologia da Informação, Design e
      muito
      mais. Nossa instituição tem orgulho de seus alunos e ex-alunos que têm feito contribuições significativas em
      diversas áreas profissionais.</h6>

  </div>
</main>

<footer>
  <span>Tecjobs</span>
  <img [src]="logoImg">
</footer>