main {

  .fundo {
    position: fixed;
    width: 100%;
    height: 100VH;
    background: linear-gradient(180deg, #191D27 0%, #000000 100%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .titulo {
      color: white;
      margin-top: 4%;
      margin-bottom: 8%;
      text-align: center; // Adicionando centralização para o conteúdo
    
      h1 {
        font-size: 70px;
      }
    
      p {
        font-size: 25px;
        font-weight: bold;
      }
    
      .linha {
        width: 100%; // Ajusta a largura para ocupar 100% da largura do pai
        height: 8px;
        margin-top: 10px; // Espaço acima da linha
        border-radius: 30px; // Removendo a duplicata
        background: linear-gradient(90deg, #01606D 0%, #02BAD3 100%);
        max-width: 1059px; // Define uma largura máxima
        margin-left: auto; // Centraliza lateralmente
        margin-right: auto; // Centraliza lateralmente
      }
    }
    

    .opcao {
      width: 330px;
      height: 300px;
      border-radius: 25px;
      background: linear-gradient(180deg, #FFFFFF 0%, #C8C8C8 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;
      /* Adiciona uma transição suave */

      img {
        max-width: 100%;
        height: auto;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;

        span {
          margin-top: 8px;
        }
      }

      &:hover {
        transform: scale(1.05);
        /* Aumenta a div em 5% ao passar o mouse */
      }
    }


    .filtro {

      display: flex;
      justify-content: center;
      align-items: center;

      div {
        margin-left: 30px;
      }

    }
  }
}