<main>
  <div class="fundo">
    <div class="titulo">
      <h1>Portal TecJobs</h1>
      <p>ESCOLHA UM TIPO DE VAGA</p>
    </div>
    <div class="filtro">
      <a [routerLink]="['/pesquisa', 'back']" class="link">
        <img [src]="computerImg">
        <span>Back-end</span>
      </a>
      <a [routerLink]="['/pesquisa', 'front']" class="link">
        <img [src]="computerImg">
        <span>Front-end</span>
      </a>
      <a [routerLink]="['/pesquisa', 'suporte']" class="link">
        <img [src]="computerImg">
        <span>Outros</span>
      </a>
    </div>
  </div>
</main>
